.svgCharts{
  width: 100%;
}

.chartBoards{
  width: 100%;
}

.dateBars{
  width: 100%;
}

.scrollBars{
  width: 100%;
}

.buttonBars{
  width: 100%;
}

.chartTitles {
  font-family: arial;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #696969;
  text-align: left;
}
.date-interval {
  font-family: arial;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #696969;
  text-align: right;
}

.chartsHeader {
  position: relative;
  width: auto;
  margin: auto;
}
.chartsName {
  position: relative;
  width: 50%;
  margin: 0;
  text-align: left;
  float: left;
}

.chart-interval {
  position: relative;
  margin: 0;
  width: 50%;
  text-align: right;
  float: right;
}
